<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/csslinks') -%>
    <title>PECommerce</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">PECommerce</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Orders
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/myorders">My Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/myproducts">My Products</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/sellItem">Sell Item</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item">
            <form action="/auth/logout" class="pt-1" method="post">
              <button class="btn btn-sm btn-light">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <!-- main section -->
    <!-- breadcrumb -->
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Orders</li>
        </ol>
      </nav>
    </div>

    <!-- All the items ordered by logged in user -->
    <% if(itemsbooked){ itemsbooked.forEach(item=>{ %>
    <div class="card mb-3 col-12 offset-md-3 col-md-6">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%= item.imglink%>" alt="There must be an image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-text font-italic font-weight-light">
              OrderID: <%= item.order_id %>
            </h6>
            <h5 class="card-title"><%= item.title %></h5>
            <p class="card-text">
              <%= item.description.substring(0,100) + '....' %>
            </p>
            <p class="card-text">
              <span class="font-italics font-weigth-light">Price: </span>
              <%= item.new_price %> ₹
            </p>

            <!-- Add href as /products/cancel/:itemId 
            update into itemBooked and item table status
            then redirect to / route-->
            <a href="/products/view/<%= item.itemid%>" target="_blank">
              <button class="btn btn-secondary">View Item</button>
            </a>
            <a href="/products/cancel/<%= item.itemid%>"
              ><button class="btn btn-danger">Cancel Order</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <%}) } %>

    <!-- scripts -->
    <%- include('partials/scripts') -%>
  </body>
</html>
